input, textarea {
    display: block;
}

.demo-card-wide {
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.demo-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.demo-notes-grid {
    max-width: 1280px;
}

.mdl-layout__header-row {
    padding: 0 16px;
}

.mdl-card__title-text {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-right: 30px;
}

.mdl-card__title-date {
    font-size: .65em;
    margin: 0;
}

.mdl-card__title {
    display: inline-block;
}

.mdl-card__supporting-text {
    padding: 0 16px 16px 16px;
}